
<div class="container">
    <form >
        <div class="card">
            <h5>Product Details</h5>
            <div class="p-fluid">
              <div class="p-field">
                <label for="firstname1">Product Name</label>
                <input id="firstname1" type="text" pInputText />
              </div>
              <div class="p-field">
                <label for="lastname1">Product Category</label>
                <input id="lastname1" type="text" pInputText />
              </div>
              <div class="p-field">
                <label for="lastname1">Similar Product</label>
                <input id="lastname1" type="text" pInputText />
              </div>
            </div>
          </div>
          
    </form>
   
</div>


  